.commenterName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-right: 10px;
}

.commmentText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.commentSection {
  padding-bottom: 5px;
  margin-left: 15px;
}

.addCommentText {
  width: 85%;
  height: 50px;
  border: 0px;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: lightgray;
}

.addCommentText:focus {
  outline: 0;
}

.addCommentContainer {
  display: flex;
  border-top: 1px solid lightgray;
}

.addCommentBtn {
  width: 14%;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  font-size: 1rem;
  background-color: white;
  border: 0px;
}

.addCommentBtn:hover {
  color: darkgray;
}

.addCommentBtn:focus {
  outline: 0;
}
